body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

div {
    margin: 10px;
}

label {
    margin-right: 5px;
}

input {
    width: 50px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
}

#myStudentId {
    font-weight: bold;
    font-size: 18px;
}

#images {
    max-width: 100%;
    height: auto;
}
